.searchbar-container{
    display: flex;
    border: 1px solid gray;
    background: white;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border-radius: 14px;



    input[type="search"]{
        width: 100%;
        padding: 18px 17px;
        border: none;
        font-size: 20px;
        border-radius: inherit;

        &::placeholder{
            font-weight: 500;
        }

        &:focus{
            outline: none;
        }
    }

    .search-btn{
        background: transparent;
        border: none;
        cursor: pointer;
        margin-right: 14px;
        
        svg{
            fill: gray;
        }
    }
}