.searchbar-container{
    display: flex;
    border: 1px solid gray;
    background: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 14px;



    input[type=search]{
        width: 100%;
        padding: 18px 17px;
        border: none;
        font-size: 20px;
        border-radius: inherit;

        &::placeholder{
            font-weight: 500;
        }

        &:focus{
            outline: none;
        }
    }

    .search-btn{
        background: transparent;
        border: none;
        cursor: pointer;
        margin-right: 14px;
        
        svg{
            fill: gray;
        }
    }
}

@media (max-width:768px) {

    input[type=search]{
        padding: 12px 13px !important;
    }
}